\documentclass[conference]{IEEEtran}

\usepackage[T1]{fontenc}
\usepackage{cite}
\usepackage{amsmath,amssymb}
\usepackage{graphicx}
\usepackage{hyperref}
\usepackage{gitinfo2}

\title{[[ title ]]}
\author{[[ authors_latex ]]}

\begin{document}

\maketitle

\begin{abstract}
Your abstract goes here.
\end{abstract}

\begin{IEEEkeywords}
Keyword one, keyword two, keyword three
\end{IEEEkeywords}

\section{Introduction}

Your introduction goes here.

\section{Methodology}

Your methodology goes here.

\section{Results}

Your results go here.

\section{Conclusion}

Your conclusion goes here.

\section*{Acknowledgements}

Add acknowledgements here.

\bibliographystyle{IEEEtran}
\bibliography{references}

\vfill
\hrule
\small
\noindent Git version: \gitAbbrevHash{} (\gitAuthorIsoDate) \\
Branch: \gitBranch

\end{document}
