\documentclass[runningheads]{llncs}

\usepackage[T1]{fontenc}
\usepackage{graphicx}
\usepackage{amsmath,amssymb}
\usepackage{hyperref}
\usepackage{gitinfo2}

\title{[[ title ]]}
\author{[[ authors_latex ]]}
\institute{Your Institution}

\begin{document}

\maketitle

\begin{abstract}
Your abstract goes here.
\keywords{Keyword one \and Keyword two \and Keyword three}
\end{abstract}

\section{Introduction}

Your introduction goes here.

\section{Methodology}

Your methodology goes here.

\section{Results}

Your results go here.

\section{Conclusion}

Your conclusion goes here.

\subsubsection*{Acknowledgements}

Add acknowledgements here.

\bibliographystyle{splncs04}
\bibliography{references}

\vfill
\hrule
\small
\noindent Git version: \gitAbbrevHash{} (\gitAuthorIsoDate) \\
Branch: \gitBranch

\end{document}
